@import "vars";

html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    background: $background;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color:$primary
    }
}

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

.active {
    color: $primary
}